@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

p {
  font-weight: 600;
  font-family: "Indie Flower", cursive;
  font-size: larger;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  text-align: center;
}

#quoteDisplay {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 10px;
}

#first {
  margin-top: 10px;
  color: #ffcd5d;
}

#second {
  color: #51df70;
}

#third {
  color: #025f70;
  margin-bottom: 30px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: #5372f0;
}

.wrapper {
  width: 700px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 auto;
  display: block;
  background-color: #0a2ea4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
